include ../mixins/sub-menu.pug

header.header
  .container

    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src=(settingGeneral.logo ? settingGeneral.logo : "/images/logo.png"), alt="Logo")
      .col-5
        form(action="/search" method="GET" class="d-flex") 
          input(
            type="text"
            placeholder="Nhập từ khóa"
            class="form-control me-2" 
            name="keyword"
            value=keyword
            style="max-width: 350px;" 
          )
          button(type="submit" class="btn btn-primary") Tìm kiếm
      .col-4
        .inner-menu
          ul.d-flex.justify-content-end.list-unstyled.mb-0 
            li.me-3 
              a(href="/") Trang chủ
            li(class="sub-menu")
              -const pathProduct = "/products"
              a(href=pathProduct) Sản phẩm
              +sub-menu(layoutProductsCategory, pathProduct)

            li
              a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})
            if(user)
              li
                a(href="/user/info") #{user.fullName}    
              li
                a(href="/chat") Chat
              li
                a(href="/user/logout") Đăng xuất       
            else
              li
                a(href="/user/register") Đăng kí
              li
                a(href="/user/login") Đăng nhập