extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main
	+alert-error(5000)
	+alert-success(5000)

	.container.my-5
		.row.justify-content-center
			.col-12.col-md-8.col-lg-6
				h1(class="text-center mb-4") Đăng nhập
				form(
					action=`${prefixAdmin}/auth/login`
					method="POST"
				)
					.mb-3 
						label(for="email" class="form-label") Email
						input(
							type="email"
							class="form-control"
							id="email"
							name="email"
							required
						)
					.mb-3 
						label(for="password" class="form-label") Mật khẩu
						input(
							type="password"
							class="form-control"
							id="password"
							name="password"
							required
						)
					.d-grid 
						button(
							type="submit"
							class="btn btn-primary" 
						) Đăng nhập