extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
	h1(class="mb-4") Thêm mới tài khoản

	+alert-error(5000)

	form(
		action=`${prefixAdmin}/accounts/create`
		method="POST"
		enctype="multipart/form-data"
	)
		.form-group.mb-3
			label(for="fullName") Họ tên *
			input(
				type="text"
				class="form-control"
				id="fullName"
				name="fullName"
				required
			)
		.form-group.mb-3
			label(for="email") Email *
			input(
				type="email"
				class="form-control"
				id="email"
				name="email"
				required
			)
		.form-group.mb-3
			label(for="password") Mật khẩu *
			input(
				type="password"
				class="form-control"
				id="password"
				name="password"
				required
			)
		.form-group.mb-3
			label(for="phone") Số điện thoại
			input(
				type="text"
				class="form-control"
				id="phone"
				name="phone"
			)
		.form-group.mb-3.upload-image
			label(for="avatar") Avatar
			input(
				type="file"
				class="form-control" 
				id="avatar"
				name="avatar"
				accept="image/*"
				upload-image-input
			)
			img(
				src=""
				class="image-preview"
				upload-image-preview
			)
		.form-group.mb-3
			label(for="role_id") Phân quyền
			select(name="role_id" id="role_id" class="form-control")
				option(disabled selected) -- Chọn --
				each role in roles
					option(value=role.id) #{role.title}
		.form-group.mb-3
			div.form-check.form-check-inline
				input(
					type="radio"
					class="form-check-input"
					id="statusActive"
					name="status"
					value="active"
					checked
				)
				label(for="statusActive" class="form-check-label") Hoạt động
			div.form-check.form-check-inline
				input(
					type="radio"
					class="form-check-input"
					id="statusInActive"
					name="status"
					value="inactive"
				)
				label(for="statusInActive" class="form-check-label") Dừng hoạt động
		.form-group
			button(type="submit" class="btn btn-primary") Tạo mới