mixin table-tree(items, level = 1)
	each item, index in items
		- const prefix = Array(level + 1).join("-- ")
		tr
			td
				input(type="checkbox" name="id" value=item.id)
			td #{item.index}
			td
				img(src=item.thumbnail alt="Sản phẩm 1" width="100px" height="auto")
			td #{prefix} #{item.title}
			td 
				input(type="number" name="position" value=item.position, min="1", style="width: 60px")
			td
				if(role.permissions.includes("products-category_edit"))
					if(item.status === "active")
						a(
							href="javascript:;", 
							data-status=item.status, 
							button-change-status, 
							data-id=item.id,
							class="badge badge-success") hoạt động
					else
						a(
							href="javascript:;", 
							data-status=item.status, 
							button-change-status,  
							data-id=item.id,
							class="badge badge-danger") ngưng hoạt động
			td
				a(class="btn btn-secondary btn-sm", href=`${prefixAdmin}/products-category/detail/${item.id}`) Chi tiết
				if(role.permissions.includes("products-category_edit"))
					a(class="btn btn-warning btn-sm", href=`${prefixAdmin}/products-category/edit/${item.id}`) Sửa
				
				if(role.permissions.includes("products-category_delete")) 
					button(
						class="btn btn-danger btn-sm ml-1"
						button-delete
						data-id=item.id
						) Xóa
		if item.children && item.children.length > 0
			+table-tree(item.children, level + 1)
