extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  h1 Cài đặt chung

  +alert-error(5000)
  +alert-success(5000)

  form(
    action=`${prefixAdmin}/settings/general?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    .mb-3
      label.form-label(for="websiteName") Tên website
      input(
        type="text"
        class="form-control"
        id="websiteName"
        name="websiteName"
        value=(settingGeneral ? settingGeneral.websiteName : '')
      )

    .mb-3.upload-image
      label.form-label(for="logo") Logo
      input(
        type="file"
        class="form-control-file" 
        id="logo"
        name="logo"
        accept="image/*"
        upload-image // Đây có vẻ là một class/attribute tùy chỉnh của bạn
      )
      img(src=(settingGeneral ? settingGeneral.logo : '') class="image-preview" upload-image-preview) 

    .mb-3
      label.form-label(for="phone") Số điện thoại
      input(
        type="text"
        class="form-control"
        id="phone"
        name="phone"
        value=(settingGeneral ? settingGeneral.phone : '')
      )

    .mb-3
      label.form-label(for="email") Email
      input(
        type="email"
        class="form-control"
        id="email"
        name="email"
        value=(settingGeneral ? settingGeneral.email : '')
      )

    .mb-3
      label.form-label(for="address") Địa chỉ
      input(
        type="text"
        class="form-control"
        id="address"
        name="address"
        value=(settingGeneral ? settingGeneral.address : '')
      )

    .mb-3
      label.form-label(for="copyright") Copyright
      input(
        type="text"
        class="form-control"
        id="copyright"
        name="copyright"
        value=(settingGeneral ? settingGeneral.copyright : '')
      )

    .mb-3
      button(type="submit" class="btn btn-primary") Cập nhật